.navbar{
    width:100%;
    position:fixed;
    height:20px;
    top:0;
    /* padding:10px 0px 10px 0px; */
    font-family: 'Source Code Pro', monospace;
    margin-bottom:50px;
    
    }

    ul{
      list-style-type: none;
      margin: 0;
      padding:0;
      overflow:hidden;
      background-color:#e6e6e6;
  }
  
  li{
      float: right;
  }
  
  li a{
      display: block;
      color:black;
      text-align:center;
      padding:25px 25px;
      text-decoration:none;
      font-size:25px;
  }
  
  li a:hover{
  
      border-bottom:2px solid white;
      
  
  }

  .navbar a{
      margin-left:200px;
  }

  #home{
    font-family: 'Signika', sans-serif;
    text-align:center;
    background-image:url("images/code-1076533_960_720.jpg");
    position:relative;
    /* padding:10px;
    top:10px; */
    color:#ffffff;
    font-size:25px;
    padding-top:60px;
    z-index:-1;
  }

  #home1{
    background-color:rgba(26,26,26,0.9);
    background-size: cover;
  }

  img{
      width: 400px;
      height:400px;
      border-radius: 100px;
      
  }

  #about{
    display:flex;
    align-items: center;
    align-content: center;
    text-align: center;
    height: auto;
    flex-direction: row;
    font-family: 'Source Code Pro', monospace;
    background-color: #d9d9d9;
    padding-top:60px;
  }

  #about-background{
    border:10px gray;
    border-radius:10px;
    float:left;
    width:50%;
    font-size:20px;
    margin:10px;
    padding:20px;
    background-color:#8c8c8c;

  }

  #about-hobbies{
    border:2px gray;
    border-radius:10px;
    float:right;
    height:400px;
    width:40%;
    font-size:20px;
    margin:20px;
    background-color: #8c8c8c;
  }

  #skills{
    border:2px gray;
    border-radius:10px;
    float:right;
    height:400px;
    width:40%;
    font-size:20px;
    margin:20px;
    background-color: #8c8c8c;
  }

  #project{
    display:flex;
    padding:5px;
    text-align:center;
    background-color: #5dade2;
    color:#0d0d0d;
    font-size:20px;
    padding-top:60px;
  }

  #project1{
    flex:50%;
    padding:5px;
  }

  #project2{
    flex:50%;
    padding: 5px;
  }

  #project1 > img{
    width:800px;
    height:800px;
  }

  #project > h2{
    text-align: center;
  }
  
  #contact{
    align-content:center;
    text-align:center;
    font-size:30px;
    font-family: 'Cute Font', cursive;
    background-color: #d9d9d9;
    width:100%;
    padding-top:60px;
  }

  #heading{
    text-align: center;
  }

  .footer {
    text-align: center;
    color:black;
    padding-top: 15px;
    background-color:#e6e6e6;
    font-family: 'Cute Font', cursive;
    width:100%;
}

.fa{
  padding:20px;
  padding-bottom:10px;
  padding-right:10px;
  padding-left:10px;
  font-size:20px !important;
  height:10px;
  width:10px;
  align-items:center;
  text-decoration:none;
  border-radius:10px;
  margin: auto;
}

.fa-facebook{
    
  color:black;
  margin-left: 20px;
  margin-right:150px;
  margin-bottom:20px;
  margin-top:5px;
  
}

.fa-whatsapp{
   
  color:black;
  margin-left: 20px;
  margin-right:150px;
  margin-bottom:20px;
  margin-top:5px;
}
.fa-envelope-o{
 
  color:black;
  margin-left: 20px;
  margin-right:150px;
  margin-bottom:20px;
  margin-top:5px;
}

@media only screen and (min-width:806px) and (max-width:1507px) {
  .navbar{
      display:none;
  }
  #project{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
  }
}